<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>404 - Page Not Found</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/neat.css">
</head>
<body>

<div class="c-404">
    <div class="c-404__content">
        <h1 class="c-404__title">404</h1>
        <p class="c-404__des">Sorry, but we couldn’t find the page you are looking for, try searching for something else</p>

        <a class="c-404__link" href="/main"><i class="feather icon-arrow-left"></i> Retrun to Homepage</a>
    </div>

    <span class="c-404__shape1"></span>
    <span class="c-404__shape2"></span>
</div>

<!-- Main JavaScript -->
<script src="/js/neat.js"></script>

</body>
</html>