<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Accounts</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/neat.css">
</head>
<body>

<div class="o-page">

    <main class="o-page__content">
        <header class="c-navbar u-mb-medium">
            <nav class="c-navbar__nav collapse" id="main-nav">
                <ul class="c-navbar__nav-list">
                    <li> <a href = "/main"><img src="/img/sber.png" width="200" height="151" ></a></li>
                    <li><h2 class="c-navbar__title">My Accounts</h2></li>
                </ul>
            </nav>

            <div class="c-dropdown dropdown u-ml-auto">
                <div class="c-avatar c-avatar--xsmall dropdown-toggle" id="dropdownMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <span class="user-img">
                          <span class="user-img"><img class="c-avatar__img" src="/img/user.jpg" width="40">
                          <span class="status online"></span>
                          </span>
              </span>
                    <span th:text="' ' + ${user.login}">User</span>
                </div>
                <div class="c-dropdown__menu has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatar">
                    <a class="c-dropdown__item dropdown-item" href="/main/profile">My Profile</a>
                    <a class="c-dropdown__item dropdown-item" href="/main/logout">Log out</a>
                </div>
            </div>
        </header>

        <div class="container">
            <div id="resultsBlock" class="row">

                <div th:each="account : ${list}" class="col-md-8">
                    <div class="c-state-card c-state-card--info">
                        <h4 class="c-state-card__title">№ <span th:text="${account.accountNumber}"/></h4>
                        <span class="c-state-card__number">Balance: <span
                                th:text="${account.account_balance}"/>  <span
                                th:text="${account.currency}"/></span>
                        <span class="c-state-card__number">Type: <span
                                th:text="${account.type}"/></span>
                        <div class="dropdown">
                            <a class="c-btn c-btn--secondary c-btn--outline " id="dropdownDownload"
                               data-toggle="dropdown">
                                <i class="feather icon-download"></i>
                            </a>

                            <div th:id="${account.accountNumber}"
                                 class="c-dropdown__menu dropdown-menu dropdown-menu-right"
                                 aria-labelledby="dropdownDownload">
                                <a class="c-dropdown__item dropdown-item" onclick="exportCSV(this)" href="#">CSV</a>
                                <a class="c-dropdown__item dropdown-item" onclick="exportXML(this)" href="#">XML</a>
                                <a class="c-dropdown__item dropdown-item" onclick="exportJSON(this)" href="#">JSON</a>
                            </div>
                        </div>


                        <div class="c-state-card__actions dropdown">
                  <span class="dropdown-toggle" id="dropdownMenuState2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" role="button">
                    <i class="feather icon-more-vertical"></i>
                  </span>

                            <div th:id="${account.accountNumber}"
                                 class="c-dropdown__menu dropdown-menu dropdown-menu-right"
                                 aria-labelledby="dropdownMenuState2">
                                <a class="c-dropdown__item dropdown-item" href="/main/transfer">Transfer</a>
                                <a class="c-dropdown__item dropdown-item" onclick="toDeposit(this)" href="#">Deposit</a>
                                <a class="c-dropdown__item dropdown-item" href="#">History Operation</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <a class="c-btn c-btn--info c-btn--outline" href="/main">Back</a>
                <button class="c-btn c-btn--info" onclick="craeteNewAccount()" type="button">Create New Account</button>
            </div>
        </div>

    </main>
</div>

<!-- Главный скрипт -->
<script src="/js/neat.js"></script>
<script th:inline="javascript">
    //скрипт по обработке клика по созданию счета и обработки ошибки, если счетов больше 5
    function craeteNewAccount() {
        var main = document.getElementById('resultsBlock');
        var response = '';
        $.ajax(
            {
                type: "GET",
                url: '/accounts/add',
                async: false,
                success: function (text) {
                    response = text;
                },
                statusCode: {
                    501: function (request) {
                        alert(request.getResponseHeader('Error'));
                    }
                }

            });
        main.innerHTML += response;
    }

    function toDeposit(element) {
        var id = element.parentElement.id;
        location.href = "/main/deposit?accountNumber=" + id;
    }

    function exportXML(element) {
        var id = element.parentElement.id;
        $.ajax(
            {
                type: "GET",
                url: "/accounts/exportXML?accountNumber=" + id,
                async: false,
                success: function (text,textstatus,xhr) {
                    var a = window.document.createElement('a');
                    a.href = window.URL.createObjectURL(new Blob([xhr.responseText], {type: 'text/xml'}));
                    a.download = 'transactions.xml';

                    // Append anchor to body.
                    document.body.appendChild(a);
                    a.click();
                },
                statusCode: {
                    501: function (request) {
                        alert(request.getResponseHeader('Error'));
                    }
                }

            });
    }

    function exportCSV(element) {
        var id = element.parentElement.id;
        $.ajax(
            {
                type: "GET",
                url: "/accounts/exportCSV?accountNumber=" + id,
                async: false,
                success: function (text,textstatus,xhr) {
                    var a = window.document.createElement('a');
                    a.href = window.URL.createObjectURL(new Blob([xhr.responseText], {type: 'text/csv'}));
                    a.download = 'transactions.csv';

                    // Append anchor to body.
                    document.body.appendChild(a);
                    a.click();
                },
                statusCode: {
                    501: function (request) {
                        alert(request.getResponseHeader('Error'));
                    }
                }

            });
    }
    function exportJSON(element) {
        var id = element.parentElement.id;
        $.ajax(
            {
                type: "GET",
                url: "/accounts/exportJSON?accountNumber=" + id,
                async: false,
                success: function (text,textstatus,xhr) {
                    var a = window.document.createElement('a');
                    a.href = window.URL.createObjectURL(new Blob([xhr.responseText], {type: 'text/json'}));
                    a.download = 'transactions.json';

                    // Append anchor to body.
                    document.body.appendChild(a);
                    a.click();
                },
                statusCode: {
                    501: function (request) {
                        alert(request.getResponseHeader('Error'));
                    }
                }

            });
    }
</script>
</body>
</html>