<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Deposit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/neat.css">
  </head>
  <body>
  <div class="o-page">

    <main class="o-page__content">
      <header class="c-navbar u-mb-medium">
        <nav class="c-navbar__nav collapse" id="main-nav">
          <ul class="c-navbar__nav-list">
            <li> <a href = "/main"><img src="/img/sber.png" width="200" height="151" ></a></li>
            <li><h2 class="c-navbar__title">Пополнить</h2></li>
          </ul>
        </nav>



        <div class="c-dropdown dropdown u-ml-auto">
          <div class="c-avatar c-avatar--xsmall dropdown-toggle" id="dropdownMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <span class="user-img">
                          <span class="user-img"><img class="c-avatar__img" src="/img/user.jpg" width="40">
                          <span class="status online"></span>
                          </span>
              </span>
            <span th:text="' ' + ${user.login}">User</span>
          </div>
          <div class="c-dropdown__menu has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatar">
            <a class="c-dropdown__item dropdown-item" href="/main/profile">Мой профиль</a>
            <a class="c-dropdown__item dropdown-item" href="/main/logout">Выход</a>
          </div>
        </div>
      </header>

      <div class="container">



        <div class="col-md-4">

          <div class="c-card">
            <h4 class="u-mb-small">Пополнить счет</h4>
            <!-- IF Success Deposit-->
            <div th:if="${errorFalse}" class="c-alert c-alert--success u-mb-medium">
                            <span class="c-alert__icon">
                              <i class="feather icon-check"></i>
                            </span>
              <div class="c-alert__content">
                <h4 class="c-alert__title">Успешно!</h4>
              </div>
            </div>
            <!-- IF Error Deposit-->
            <div th:if="${errorTrue}" class="c-alert c-alert--danger">
                            <span class="c-alert__icon">
                              <i class="feather icon-slash"></i>
                            </span>

              <div class="c-alert__content">
                <h4 class="c-alert__title">Ошибка!</h4>
                <p th:text="${textError}">Текст ошибки</p>
              </div>
            </div>
            <form th:action="@{/main/deposit}" method="post">
              <!-- IF Account Exist -->
              <div th:if="${accountExist}" class="c-field">
                <label class="c-field__label" for="account">Счет для пополнения:</label>
                <div th:text="${accountNumber}">---</div>
                <input th:value="${accountNumber}" type="hidden" id="account"  name="accountNumber">
              </div>
              <!-- ELSE -->
              <div class="c-field" th:unless="${accountExist}">
                <label class="c-field__label" for="account_select">Выберите счет для пополнения:</label>
                <div class="c-select">
                  <select class="c-select__input" th:value="${accountNumber}" name="accountNumber" id="account_select">
                    <option th:each="acc : ${all}" th:value="${acc.accountNumber}" th:text="${acc.accountNumber}">----</option>
                  </select>
                </div>
              </div>
              <div class="c-field">
                <label class="c-field__label" for="amount">Сумма:</label>
                <input th:value="${amount}" name="amount" class="c-input" type="text" id="amount" placeholder="Enter here amount for deposit">
              </div>
              <div class="c-field">
                <br>
                <input class="c-btn c-btn--info" type="submit"  value="Пополнить"/>
              </div>
            </form>
          </div>
        </div>


      </div>
    </main>
  </div>
    <!-- Main JavaScript -->
    <script src="/js/neat.js"></script>
  </body>
</html>