<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="account" class="col-md-8">
        <div class="c-state-card c-state-card--info">
            <h4 class="c-state-card__title">№ <span th:text="${acc.accountNumber}"/></h4>
            <span class="c-state-card__number">Balance: <span th:text="${acc.account_balance}"/> RUB</span>

            <div class="dropdown">
                <a class="c-btn c-btn--secondary c-btn--outline "  id="dropdownDownload" data-toggle="dropdown">
                    <i class="feather icon-download"></i>
                </a>

                <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownDownload">
                    <a class="c-dropdown__item dropdown-item" href="#">CSV</a>
                    <a class="c-dropdown__item dropdown-item" href="#">XML</a>
                    <a class="c-dropdown__item dropdown-item" href="#">JSON</a>
                </div>
            </div>



            <div class="c-state-card__actions dropdown">
                  <span class="dropdown-toggle" id="dropdownMenuState2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="feather icon-more-vertical"></i>
                  </span>

                <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuState2">
                    <a class="c-dropdown__item dropdown-item" href="#">Transfer</a>
                    <a class="c-dropdown__item dropdown-item" href="#">Deposit</a>
                    <a class="c-dropdown__item dropdown-item" href="#">History Operation</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>