<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>History Operation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/neat.css">
</head>
<body>
<div class="o-page">

    <main class="o-page__content">
        <header class="c-navbar u-mb-medium">
            <nav class="c-navbar__nav collapse" id="main-nav">
                <ul class="c-navbar__nav-list">
                    <li> <a href = "/main"><img src="/img/sber.png" width="200" height="151" ></a></li>
                    <li><h2 class="c-navbar__title">История операций</h2></li>
                </ul>
            </nav>



            <div class="c-dropdown dropdown u-ml-auto">
                <div class="c-avatar c-avatar--xsmall dropdown-toggle" id="dropdownMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <span class="user-img">
                          <span class="user-img"><img class="c-avatar__img" src="/img/user.jpg" width="40">
                          <span class="status online"></span>
                          </span>
              </span>
                    <span th:text="' ' + ${user.login}">User</span>
                </div>
                <div class="c-dropdown__menu has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatar">
                    <a class="c-dropdown__item dropdown-item" href="/main/profile">Мой профиль</a>
                    <a class="c-dropdown__item dropdown-item" href="/main/logout">Выход</a>
                </div>
            </div>
        </header>

        <div class="container">
            <!-- ======================= TABLE =======================-->
            <div class="row u-mt-medium">
                <div class="col-12">
                    <h3 th:text="'История операций по счету № ' + ${account.accountNumber}" class="u-mb-small">History Operation for Account: </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="c-table-responsive@wide">
                        <table class="c-table">
                            <thead class="c-table__head">
                            <tr class="c-table__row">
                                <th class="c-table__cell c-table__cell--head">Дата</th>
                                <th class="c-table__cell c-table__cell--head">Отправитель</th>
                                <th class="c-table__cell c-table__cell--head">Получатель</th>
                                <th class="c-table__cell c-table__cell--head">Тип</th>
                                <th class="c-table__cell c-table__cell--head">Статус</th>
                                <th class="c-table__cell c-table__cell--head">Сумма</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="c-table__row" th:each="transactionDTO : ${page.content}">
                                <td class="c-table__cell" th:text="${transactionDTO.date}">===</td>
                                <td class="c-table__cell" th:text="${transactionDTO.sender.accountNumber}">===</td>
                                <td class="c-table__cell" th:text="${transactionDTO.reciever.accountNumber}">===</td>
                                <td class="c-table__cell" th:text="${transactionDTO.type}">===</td>
                                <td class="c-table__cell" th:text="${transactionDTO.status}">===</td>
                                <td class="c-table__cell" th:text="${transactionDTO.amount}">===</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- ======================= PAGGINATION =======================-->
                    <ul class="c-pagination u-mb-medium">
                        <li th:if="${page.hasPrevious()}">
                            <a th:href="@{/main/accounts/history(account_number=${account.accountNumber}, page=${page.number-1},size=${page.size})}" class="c-pagination__link"><i class="feather icon-chevron-left"></i> </a>
                        </li>

                        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                            <li th:if="${page.number == i}"><a class="c-pagination__link is-active">[[${i}+1]]</a></li>
                            <li th:unless="${page.number == i}"><a class="c-pagination__link" th:href="@{/main/accounts/history(account_number=${account.accountNumber},page=${i},size=${page.size})}">[[${i}+1]]</a></li>
                        </th:block>

                        <li th:if="${page.hasNext()}">
                            <a th:href="@{/main/accounts/history(account_number=${account.accountNumber}, page=${page.number+1},size=${page.size})}" class="c-pagination__link"><i class="feather icon-chevron-right"></i> </a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </main>
</div>
<!-- Main JavaScript -->
<script src="/js/neat.js"></script>
</body>
</html>