<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>History Operation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/neat.css">
</head>
<body>
<div class="o-page">

    <main class="o-page__content">
        <header class="c-navbar u-mb-medium">
            <nav class="c-navbar__nav collapse" id="main-nav">
                <ul class="c-navbar__nav-list">
                    <li> <a href = "/main"><img src="/img/sber.png" width="200" height="151" ></a></li>
                    <li><h2 class="c-navbar__title">History Operation</h2></li>
                </ul>
            </nav>



            <div class="c-dropdown dropdown u-ml-auto">
                <div class="c-avatar c-avatar--xsmall dropdown-toggle" id="dropdownMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <span class="user-img">
                          <span class="user-img"><img class="c-avatar__img" src="/img/user.jpg" width="40">
                          <span class="status online"></span>
                          </span>
              </span>
                    <span th:text="' ' + ${user.login}">User</span>
                </div>
                <div class="c-dropdown__menu has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatar">
                    <a class="c-dropdown__item dropdown-item" href="/main/profile">My Profile</a>
                    <a class="c-dropdown__item dropdown-item" href="/main/logout">Log out</a>
                </div>
            </div>
        </header>

        <div class="container">
            <!-- ======================= TABLE =======================-->
            <div class="row u-mt-medium">
                <div class="col-12">
                    <h3 th:text="'History Operation for Account: ' + ${account.accountNumber}" class="u-mb-small">History Operation for Account: </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="c-table-responsive@wide">
                        <table class="c-table">
                            <thead class="c-table__head">
                            <tr class="c-table__row">
                                <th class="c-table__cell c-table__cell--head">Date</th>
                                <th class="c-table__cell c-table__cell--head">Sender</th>
                                <th class="c-table__cell c-table__cell--head">Reciever</th>
                                <th class="c-table__cell c-table__cell--head">Type</th>
                                <th class="c-table__cell c-table__cell--head">Status</th>
                                <th class="c-table__cell c-table__cell--head">Amount</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="c-table__row" th:each="operation : ${operations}">
                                <td class="c-table__cell" th:text="${operation.date}">===</td>
                                <td class="c-table__cell" th:text="${operation.sender.accountNumber}">===</td>
                                <td class="c-table__cell" th:text="${operation.reciever.accountNumber}">===</td>
                                <td class="c-table__cell" th:text="${operation.type}">===</td>
                                <td class="c-table__cell" th:text="${operation.status}">===</td>
                                <td class="c-table__cell" th:text="${operation.amount}">===</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <ul class="c-pagination u-mb-medium">
                        <li><a class="c-pagination__link" onclick="alert('Разработчики пока не сделали, но они трудятся не покладая рук! Поверь!');"><i class="feather icon-chevron-left"></i> </a></li>
                        <li><a class="c-pagination__link is-active" onclick="alert('Разработчики пока не сделали, но они трудятся не покладая рук! Поверь!');">1</a></li>
                        <li><a class="c-pagination__link" onclick="alert('Разработчики пока не сделали, но они трудятся не покладая рук! Поверь!');">2</a></li>
                        <li><a class="c-pagination__link" onclick="alert('Разработчики пока не сделали, но они трудятся не покладая рук! Поверь!');"> <i class="feather icon-chevron-right"></i> </a></li>
                    </ul>
                </div>
            </div>

        </div>
    </main>
</div>
<!-- Main JavaScript -->
<script src="/js/neat.js"></script>
</body>
</html>