
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Profile</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/neat.css">
</head>
<body>

<div class="o-page">

    <main class="o-page__content">
        <header class="c-navbar u-mb-medium">
            <nav class="c-navbar__nav collapse" id="main-nav">
                <ul class="c-navbar__nav-list">
                    <li> <a href = "/main"><img src="/img/sber.png" width="200" height="151" ></a></li>
                    <li><h2 class="c-navbar__title">My Profile</h2></li>
                </ul>
            </nav>

            <div class="c-dropdown dropdown u-mr-medium u-ml-auto">
                <div class="c-notification has-indicator dropdown-toggle" id="dropdownMenuToggle2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="c-notification__icon feather icon-bell"></i>
                </div>

                <div class="c-dropdown__menu c-dropdown__menu--large has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuToggle2">

              <span class="c-dropdown__menu-header">
                Notifications
              </span>
                    <a class="c-dropdown__item dropdown-item" href="#">
                        <div class="o-media">
                            <div class="o-media__img u-mr-xsmall">
                                <span class="c-icon c-icon--info c-icon--xsmall"><i class="feather icon-globe"></i></span>
                            </div>

                            <div class="o-media__body">
                                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's services.</p>
                            </div>
                        </div>
                    </a>

                    <a class="c-dropdown__item dropdown-item" href="#">
                        <div class="o-media">
                            <div class="o-media__img u-mr-xsmall">
                                <span class="c-icon c-icon--danger c-icon--xsmall"><i class="feather icon-x"></i></span>
                            </div>

                            <div class="o-media__body">
                                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's services.</p>
                            </div>
                        </div>
                    </a>

                    <a class="c-dropdown__item dropdown-item" href="#">
                        <div class="o-media">
                            <div class="o-media__img u-mr-xsmall">
                                <span class="c-icon c-icon--success c-icon--xsmall"><i class="feather icon-anchor"></i></span>
                            </div>

                            <div class="o-media__body">
                                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's services.</p>
                            </div>
                        </div>
                    </a>

                    <a class="c-dropdown__menu-footer">
                        All Notifications
                    </a>
                </div>
            </div>



            <div class="c-dropdown dropdown">
                <div class="c-avatar c-avatar--xsmall dropdown-toggle" id="dropdownMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <span class="user-img">
                          <span class="user-img"><img class="c-avatar__img" src="/img/user.jpg" width="40">
                          <span class="status online"></span>
                          </span>
              </span>
                    <span th:text="' ' + ${user.login}">User</span>
                </div>
                <div class="c-dropdown__menu has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatar">
                    <a class="c-dropdown__item dropdown-item" href="/main/profile">My Profile</a>
                    <a class="c-dropdown__item dropdown-item" href="/main/logout">Log out</a>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">

                <div class="col-md-5">
                    <div class="c-card">
                        <div class="u-text-center">
                            <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
                                <img class="c-avatar__img" src="http://via.placeholder.com/72" alt="Avatar">
                            </div>

                            <h5 th:text="${user.last_name} + ' '+ ${user.first_name} + ' '+ ${user.middle_name}"/>
                            <p>Client</p>
                        </div>

                        <span class="c-divider u-mv-small"></span>

                        <span class="c-text--subtitle">Email</span>
                        <p class="u-mb-small u-text-large" th:text="${user.email}">pupkin@gmail.com</p>

                        <span class="c-text--subtitle">Login</span>
                        <p class="u-mb-small u-text-large" th:text="${user.login}">pupkin71</p>

                        <span class="c-text--subtitle">Phone NUMBER</span>
                        <p class="u-mb-small u-text-large" th:text="${user.phone}">+7 921 123 66 11</p>

                        <span class="c-text--subtitle">Document NUMBER</span>
                        <p class="u-mb-small u-text-large" th:text="${user.documentNumber}">191231324</p>

                        <a class="c-badge c-badge--small c-badge--info u-mb-xsmall" href="/main/profile/edit">Edit</a>
                    </div>
                </div>

                <div class="col-md-7">

                    <nav class="c-tabs">
                        <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                            <a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Activity</a>
                        </div>
                        <div class="c-tabs__content tab-content" id="nav-tabContent">
                            <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                                <div class="c-feed" th:each="action : ${actions}">

                                    <div class="c-feed__item">
                                        <div class="c-feed__item-content">
                                            <h6 class="u-text-small" th:text="${action.title}">----</h6>
                                            <p th:text="${action.discription}">---</p>
                                        </div>
                                        <p class="u-text-xsmall" th:text="${action.date}">---</p>
                                    </div>

                                </div><!-- // .c-feed -->

                            </div>

                        </div>
                    </nav>
                </div>

            </div>
        </div>

    </main>
</div>
<!-- Main JavaScript -->
<script src="/js/neat.js"></script>
</body>
</html>