<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/neat.min.css">
</head>
<body>

<div class="o-page">
    <div class="o-page__sidebar is-sidebar-open">
        <aside class="c-sidebar">
            <div class="c-sidebar__brand">
                <a href="/admin"><h1>Menu</h1></a>
            </div>

            <!-- Scrollable -->
            <div class="c-sidebar__body">


                <span class="c-sidebar__title">General</span>
                <ul class="c-sidebar__list">
                    <li>
                        <a class="c-sidebar__link" href="/admin/reports">
                            <i class="c-sidebar__icon feather icon-file-text"></i>Reports
                        </a>
                    </li>
                    <li>
                        <a class="c-sidebar__link" onclick="alert('Разработчики пока не сделали, но они трудятся не покладая рук! Поверь!');" >
                            <i class="c-sidebar__icon feather icon-file-text"></i>Batch Load
                        </a>
                    </li>
                </ul>

            </div>


            <a class="c-sidebar__footer" href="/admin/logout">
                Logout <i class="c-sidebar__footer-icon feather icon-power"></i>
            </a>
        </aside>
    </div>

    <main class="o-page__content">
        <header class="c-navbar u-mb-medium">
            <button class="c-sidebar-toggle js-sidebar-toggle">
                <i class="feather icon-align-left"></i>
            </button>

            <h2 class="c-navbar__title">Administration Panel</h2>



        </header>

        <div class="container">

            <div class="col-md-4">

                <div class="c-card">
                    <h4 class="u-mb-small" th:text="'Download the report for: ' + ${login}"></h4>

                    <form  method="post" th:action="@{/admin/export}">

                        <div class="c-field">
                            <label class="c-field__label" for="from">From:</label>
                            <input name="fromDate" class="c-input" type="text" id="from" placeholder="dd.ММ.YYYY">
                        </div>
                        <input name="login" th:value="${login}" type = "hidden">
                        <div class="c-field">
                            <label class="c-field__label" for="to">To:</label>
                            <input name="toDate" class="c-input" type="text" id="to" placeholder="dd.ММ.YYYY">
                        </div>
                        <div class="c-field">
                            <label class="c-field__label">Format:</label>
                            <div class="c-select">
                                <select name="convertType" class="c-select__input">
                                    <option value="xml">XML</option>
                                    <option value="json">JSON</option>
                                    <option value="csv">CSV</option>
                                </select>
                            </div>
                        </div>


                        <div class="c-field">
                            <br>
                            <input class="c-btn  c-btn--outline" type="submit"  value="DOWNLOAD"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Main JavaScript -->
<script src="/js/neat.js"></script>
</body>
</html>