<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Перевод клиенту другого банка</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/neat.css">
</head>
<body>

<div class="o-page">

    <main class="o-page__content">
        <header class="c-navbar u-mb-medium">
            <nav class="c-navbar__nav collapse" id="main-nav">
                <ul class="c-navbar__nav-list">
                    <li> <a href = "/main"><img src="/img/sber.png" width="200" height="151" alt="Neatf" title="Neat UI Kit"></a></li>
                    <li><h2 class="c-navbar__title">Перевод клиенту другого банка</h2></li>
                </ul>
            </nav>

            <div class="c-dropdown dropdown u-mr-medium u-ml-auto">
                <div class="c-notification has-indicator dropdown-toggle" id="dropdownMenuToggle2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="c-notification__icon feather icon-bell"></i>
                </div>

                <div class="c-dropdown__menu c-dropdown__menu--large has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuToggle2">

              <span class="c-dropdown__menu-header">
                Notifications
              </span>
                    <a class="c-dropdown__item dropdown-item" href="#">
                        <div class="o-media">
                            <div class="o-media__img u-mr-xsmall">
                                <span class="c-icon c-icon--info c-icon--xsmall"><i class="feather icon-globe"></i></span>
                            </div>

                            <div class="o-media__body">
                                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's services.</p>
                            </div>
                        </div>
                    </a>

                    <a class="c-dropdown__item dropdown-item" href="#">
                        <div class="o-media">
                            <div class="o-media__img u-mr-xsmall">
                                <span class="c-icon c-icon--danger c-icon--xsmall"><i class="feather icon-x"></i></span>
                            </div>

                            <div class="o-media__body">
                                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's services.</p>
                            </div>
                        </div>
                    </a>

                    <a class="c-dropdown__item dropdown-item" href="#">
                        <div class="o-media">
                            <div class="o-media__img u-mr-xsmall">
                                <span class="c-icon c-icon--success c-icon--xsmall"><i class="feather icon-anchor"></i></span>
                            </div>

                            <div class="o-media__body">
                                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's services.</p>
                            </div>
                        </div>
                    </a>

                    <a class="c-dropdown__menu-footer">
                        All Notifications
                    </a>
                </div>
            </div>

            <div class="c-dropdown dropdown">
                <div class="c-avatar c-avatar--xsmall dropdown-toggle" id="dropdownMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                      <span class="user-img">
                                  <span class="user-img"><img class="c-avatar__img" src="/img/user.jpg" width="40">
                                  <span class="status online"></span>
                                  </span>
                      </span>
                    <span th:text="' ' + ${user.login}">User</span>
                </div>

                <div class="c-dropdown__menu has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatar">
                    <a class="c-dropdown__item dropdown-item" href="#">Edit Profile</a>
                    <a class="c-dropdown__item dropdown-item" href="#">View Activity</a>
                    <a class="c-dropdown__item dropdown-item" href="/main/logout">Log out</a>
                </div>
            </div>
        </header>

        <div class="container">


        </div>

    </main>
</div>
<!-- Main JavaScript -->
<script src="/js/neat.js"></script>
</body>
</html>