<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Перевод между счетами клиента</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/neat.css">
</head>
<body>

<div class="o-page">
    <main class="o-page__content">
        <header class="c-navbar u-mb-medium">
            <nav class="c-navbar__nav collapse" id="main-nav">
                <ul class="c-navbar__nav-list">
                    <li> <a href = "/main"><img src="/img/sber.png" width="200" height="151" alt="Neatf" title="Neat UI Kit"></a></li>
                    <li><h2 class="c-navbar__title">Перевод между своими счетами</h2></li>
                </ul>
            </nav>

            <div class="c-dropdown dropdown u-mr-medium u-ml-auto">
                <div class="c-notification has-indicator dropdown-toggle" id="dropdownMenuToggle2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="c-notification__icon feather icon-bell"></i>
                </div>

                <div class="c-dropdown__menu c-dropdown__menu--large has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuToggle2">

              <span class="c-dropdown__menu-header">
                Notifications
              </span>
                    <a class="c-dropdown__item dropdown-item" href="#">
                        <div class="o-media">
                            <div class="o-media__img u-mr-xsmall">
                                <span class="c-icon c-icon--info c-icon--xsmall"><i class="feather icon-globe"></i></span>
                            </div>

                            <div class="o-media__body">
                                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's services.</p>
                            </div>
                        </div>
                    </a>

                    <a class="c-dropdown__item dropdown-item" href="#">
                        <div class="o-media">
                            <div class="o-media__img u-mr-xsmall">
                                <span class="c-icon c-icon--danger c-icon--xsmall"><i class="feather icon-x"></i></span>
                            </div>

                            <div class="o-media__body">
                                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's services.</p>
                            </div>
                        </div>
                    </a>

                    <a class="c-dropdown__item dropdown-item" href="#">
                        <div class="o-media">
                            <div class="o-media__img u-mr-xsmall">
                                <span class="c-icon c-icon--success c-icon--xsmall"><i class="feather icon-anchor"></i></span>
                            </div>

                            <div class="o-media__body">
                                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's services.</p>
                            </div>
                        </div>
                    </a>

                    <a class="c-dropdown__menu-footer">
                        All Notifications
                    </a>
                </div>
            </div>

            <div class="c-dropdown dropdown">
                <div class="c-avatar c-avatar--xsmall dropdown-toggle" id="dropdownMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <span class="user-img">
                  <span class="user-img"><img class="c-avatar__img" src="/img/user.jpg" width="40">
                      <span class="status online"></span>
                  </span>
              </span>
                    <span th:text="' ' + ${user.login}">User</span>
                </div>
                <div class="c-dropdown__menu has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatar">
                    <a class="c-dropdown__item dropdown-item" href="/main/profile">My Profile</a>
                    <a class="c-dropdown__item dropdown-item" href="/main/logout">Log out</a>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="col-md-4">
                <div class="c-card">
                    <h4 class="u-mb-small">Перевод между своими счетами</h4>
                    <!-- IF Success transfer-->
                    <div th:if="${errorFalse}" class="c-alert c-alert--success u-mb-medium">
                            <span class="c-alert__icon">
                              <i class="feather icon-check"></i>
                            </span>
                        <div class="c-alert__content">
                            <h4 class="c-alert__title">Success!</h4>
                        </div>
                    </div>
                    <!-- IF Error transfer-->
                    <div th:if="${errorTrue}" class="c-alert c-alert--danger">
                            <span class="c-alert__icon">
                              <i class="feather icon-slash"></i>
                            </span>

                        <div class="c-alert__content">
                            <h4 class="c-alert__title">Error!</h4>
                            <p th:text="${textError}">Текст ошибки</p>
                        </div>
                    </div>
                    <form th:action="@{/main/transfer/toMyAccount}" method="post">
                        <!--Sender-->
                        <!-- IF Account Exist -->
                        <div th:if="${accountsExist}" class="c-field">
                            <label class="c-field__label" for="senderAccount">Счет списания средств:</label>
                            <div th:text="${accountsExist}">---</div>
                            <input th:value="${senderAccountNumber}" type="hidden" id="senderAccount"  name="senderAccountNumber">
                        </div>

                        <!-- ELSE -->
                        <div class="c-field" th:unless="${accountsExist}">
                            <label class="c-field__label" for="account_select">Счет списания средств:</label>
                            <div class="c-select">
                                <select class="c-select__input" th:value="${senderAccountNumber}" name="senderAccountNumber" id="account_select">
                                    <option th:each="acc : ${all}"
                                            th:value="${acc.accountNumber}"
                                            th:text="${acc.accountNumber}">----</option>
                                </select>
                            </div>
                        </div>

                        <!--Receiver-->
                        <!-- IF Account Exist -->
                        <div th:if="${accountsExist}" class="c-field">
                            <label class="c-field__label" for="receiverAccount">Счет для пополнения:</label>
                            <div th:text="${receiverAccountNumber}">---</div>
                            <input th:value="${receiverAccountNumber}" type="hidden" id="receiverAccount"  name="receiverAccountNumber">
                        </div>

                        <!-- ELSE -->
                        <div class="c-field" th:unless="${accountsExist}">
                            <label class="c-field__label" for="receiver_account_select">Счет для пополнения:</label>
                            <div class="c-select">
                                <select class="c-select__input" th:value="${receiverAccountNumber}" name="receiverAccountNumber" id="receiver_account_select">
                                    <option th:each="acc : ${all}"
                                            th:value="${acc.accountNumber}"
                                            th:text="${acc.accountNumber}">----</option>
                                </select>
                            </div>
                        </div>

                        <div class="c-field">
                            <label class="c-field__label" for="amount">Сумма:</label>
                            <input th:value="${amount}" name="amount" class="c-input" type="text" id="amount" placeholder="Введите здесь сумму для перевода">
                        </div>
                        <div class="c-field">
                            <br>
                            <input class="c-btn c-btn--info" type="submit"  value="Перевод"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
</div>


<!-- Main JavaScript -->
<script src="/js/neat.js"></script>
</body>
</html>