<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Users</h1>
    <table width="100%" border="1">
        <tr>
            <td>ID</td>
            <td>Login</td>
            <td>E-mail</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Phone</td>
        </tr>

        <tr th:each="user: ${list}">
                <td th:text=${user.id} />
                <td th:text=${user.login} />
                <td th:text=${user.email} />
                <td th:text=${user.first_name} />
                <td th:text=${user.last_name} />
                <td th:text=${user.phone} />
        </tr>
    </table>
</body>
</html>